 .thumbnail {
    padding:0;
    overflow: hidden;
    position: relative;
    border:0;
    border-radius:0;
    box-shadow:none;
    text-align:center;
    background: #ffffff;
}

.thumbnail:hover .more {
    top:40%;
    margin-top:-40px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3 s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}



.thumbnail .mask {
        opacity: 0.85;
        filter: alpha(opacity=85);
        top: 100%;
        left: 0px;
        width: 100%;
        height: 100%;
        background: #FECE1A;
        position: absolute;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;     
        -o-transition: all 0.2 s ease-out;
        -ms-transition: all 0.2s ease-out;
    }
.thumbnail:hover .mask {
    top:0;
}

 .team .thumbnail {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
    border: 1px solid #fff;
}
.team .thumbnail:hover .social {
    z-index: 5;
}
.team .thumbnail:hover .social a {
    color:#fff;
}
.team .thumbnail .mask {
    background: #FECE1A;
}
.team .thumbnail .mask h2 {
    margin-top:20%;
}







